# Data Loading

In [3]:
from database_wrapper import DatabaseWrapper
from sreality_scraper.sreality.spiders.sreality_spider import SrealityUrlBuilder
import sys
import pandas as pd
import numpy as np
import unidecode

# get the data from the database
db = DatabaseWrapper("listings.db")
df = db.get_df()
db.close_conn()
if df is None:
    print("No data in the database")
    sys.exit(1)

# Data Cleaning

In [4]:
# set id column as index
df.set_index("id", inplace=True)

In [5]:
# drop public_transport column, it's not useful for now
df.drop(columns=["public_transport"], inplace=True)
# drop security_deposit column
df.drop(columns=["security_deposit"], inplace=True)

df.drop(columns=["pets"], inplace=True)
df.drop(columns=["service_fees"], inplace=True)

## Dispositions

In [6]:
# print unique disposition values
df.disposition.unique()

array([47, 6, 2, 7, 4, 8, 16, 5, 9, 11, 3, '2+kk', '4+kk', '3+kk', '2+1',
       '1+1', 'Ostatní', 10, '1+kk', '4+1', '3+1', 12, '5+1', '5+kk',
       'Garsoniéra', None], dtype=object)

In [7]:
# map integers (sreality disposition ids) to strings
df.disposition = df.disposition.apply(
    lambda x: SrealityUrlBuilder.map_category_sub_cb(x) if isinstance(x, int) else x
)
df.disposition.unique()

array(['pokoj', '3+kk', '1+kk', '3+1', '2+kk', '4+kk', 'atypicky', '2+1',
       '4+1', '5+1', '1+1', 'Ostatní', '5+kk', '6-a-vice', 'Garsoniéra',
       None], dtype=object)

In [8]:
# unify disposition values
df.disposition = (
    df.disposition.replace("Garsoniéra", "1+kk")
    .replace("Ostatní", "other")
    .replace("atypicky", "other")
    .replace("pokoj", "other")
    .replace("6+kk", "6-a-více")
    .replace("6+1", "6-a-více")
    .replace("7+kk", "6-a-více")
    .replace("7+1", "6-a-více")
)
df.disposition.unique()

array(['other', '3+kk', '1+kk', '3+1', '2+kk', '4+kk', '2+1', '4+1',
       '5+1', '1+1', '5+kk', '6-a-vice', None], dtype=object)

## Area

In [9]:
df.area.sort_values()

id
3031377228      8.0
222887          9.0
3597452620     10.0
2319983948     10.0
2386367820     10.0
              ...
2769237324    308.0
1763648844    386.0
3815060812    421.0
2434610508    435.0
828640          NaN
Name: area, Length: 5245, dtype: float64

## Available from

In [10]:
df.available_from.unique()

array(['Ihned', '01.04.2024', '01.06.2024', '01.07.2024', '01.05.2024',
       '22.03.2024', '11. 3. 2024', '10. 3. 2024', '1. 2. 2024',
       '15.04.2024', '9. 8. 2023', '21. 3. 2024', '1. 3. 2024', None,
       '1. 4. 2024', '17. 3. 2024', '20. 2. 2024', '20. 3. 2024',
       '7. 6. 2024', '12. 5. 2024', '5. 3. 2024', '1. 5. 2024',
       '19. 2. 2024', '16. 3. 2024', '15. 3. 2024', '30.04.2024',
       '25. 3. 2024', '8. 4. 2024', '1. 6. 2024', '4. 3. 2024',
       '2. 5. 2024', '11. 5. 2024', '25. 4. 2024', '15. 5. 2024',
       '6. 3. 2024', '31. 3. 2024', '2. 3. 2024', '14. 2. 2024',
       '20. 4. 2024', '15. 4. 2024', '1. 9. 2023', '12. 3. 2024',
       '12. 1. 2024', '14. 3. 2024', '23. 2. 2024', '8. 3. 2024',
       '17. 5. 2024', '30. 4. 2024', '6. 4. 2024', '30. 3. 2024',
       '28. 3. 2024', '29. 3. 2024', '18. 3. 2024', '10. 5. 2024',
       '08.04.2024', '14. 4. 2024', '26. 1. 2023', '1. 2. 2023',
       '13. 3. 2024', '10.05.2024', '3. 4. 2024', '13. 5. 2024',
       '7. 3. 2024', '29. 2. 2024', '16. 1. 2024', '23. 11. 2023',
       '27. 2. 2024', '25. 2. 2024', '14. 5. 2024', '1. 10. 2023',
       '9. 4. 2024', '1. 9. 2022', '13. 2. 2024', '31.03.2024',
       '28. 2. 2024', '16. 5. 2024', '19. 3. 2024', '26. 2. 2024',
       '12. 2. 2024', '1. 7. 2024', '8. 2. 2024', '29. 4. 2024',
       '25. 1. 2024', '26. 1. 2024', '17. 10. 2023', '8. 11. 2023',
       '3. 3. 2024', '1. 9. 2024', '27. 2. 2023', '9. 2. 2024',
       '10. 4. 2024', '15. 3. 2023', '1. 1. 2023', '1. 1. 2024',
       '23. 3. 2024', '01.08.2024', '02.04.2024', '05.04.2024',
       '06.06.2024', '5. 5. 2024', '21. 1. 2024', '26. 5. 2024',
       '1. 11. 2023', '11. 2. 2024', '9. 1. 2024', '29.04.2024',
       '19. 1. 2024', '25.03.2024', '15. 1. 2023', '9. 3. 2024',
       '09.05.2024', '07.04.2024', '6. 2. 2024', '23. 12. 2023',
       '8. 1. 2023', '18. 5. 2024', '22. 2. 2024', '16.05.2024',
       '15. 2. 2024', '15. 12. 2023', '25.04.2024', '5. 2. 2024',
       '22. 3. 2024', '24. 3. 2024', '13. 4. 2024', '26. 3. 2024',
       '4. 5. 2024', '10. 1. 2024', '19. 5. 2024', '10. 6. 2024',
       '16. 4. 2024', '27. 4. 2024', '10.04.2024', '5. 8. 2024',
       '26. 8. 2023', '29. 10. 2021', '15.05.2024', '18. 12. 2023',
       '1. 4. 2023', '2. 4. 2024', '1. 5. 2023', '20.05.2024',
       '15. 1. 2024', '6. 3. 2023', '22. 1. 2024', '31. 10. 2023',
       '15. 8. 2023', '2. 2. 2024', '24. 11. 2023', '18. 1. 2024',
       '14. 7. 2021', '20. 12. 2023', '12. 10. 2023', '16. 11. 2023',
       '22. 4. 2024', '6. 2. 2020', '23.03.2024', '16.04.2024',
       '27. 3. 2024', '13.05.2024', '6. 5. 2024', '4. 2. 2022',
       '30. 5. 2024', '17. 2. 2024', '3. 10. 2023', '8. 4. 2023',
       '11. 1. 2024', '26. 9. 2022', '24. 2. 2024', '11. 9. 2019',
       '7. 2. 2024', '27. 1. 2024', '21. 2. 2024', '10. 2. 2024',
       '1. 6. 2023', '22. 6. 2024', '16. 4. 2023', '22. 5. 2024',
       '20.04.2024', '1. 7. 2023', '1. 2. 2021', '14. 12. 2023',
       '1. 10. 2022', '16. 2. 2024', '13. 12. 2023', '9. 6. 2024',
       '11. 4. 2024', '8. 1. 2024', '3. 4. 2023', '5. 4. 2024',
       '13. 1. 2023', '2. 10. 2023', '3. 1. 2024', '20. 10. 2022',
       '6. 12. 2023', '23. 7. 2023', '1. 5. 2020', '11. 5. 2022',
       '9. 12. 2023', '15. 3. 2022', '18. 2. 2024', '30.06.2024',
       '12.04.2024', '05.05.2024', '29.03.2024', '21.04.2024',
       '21.03.2024', '24.03.2024', '31.05.2024', '06.04.2024',
       '17.05.2024', '15.07.2024', '26.03.2024', '02.05.2024',
       '06.05.2024', '28.03.2024', '30.03.2024', '15.04.2025',
       '07.06.2024', '30.05.2024', '26.05.2024', '22.05.2024',
       '22.06.2024', '09.06.2024', '14.05.2024', '11.06.2024',
       '19.04.2024', '03.04.2024', '09.04.2024', '19.06.2024',
       '19.02.2025', '27.03.2024', '10.06.2024', '23. 10. 2022',
       '1. 8. 2022', '15.06.2024'], dtype=object)

In [11]:
# trim whitespaces
df.available_from = df.available_from.str.replace(" ", "")

In [12]:
# replace "Ihned" with last updated date
ihned_rows = df["available_from"] == "Ihned"
df.loc[df["available_from"] == "Ihned", "available_from"] = pd.to_datetime(
    df.loc[df["available_from"] == "Ihned", "updated"],
    format="%Y-%m-%d %H:%M:%S.%f",
    errors="coerce",
)

In [13]:
# try parsing the date for all non empty fields
invalid_indices = pd.to_datetime(df.available_from, errors="coerce").isnull()

In [14]:
invalid_indices = invalid_indices | ihned_rows
df.loc[~invalid_indices, "available_from"].unique()

array(['01.04.2024', '01.06.2024', '01.07.2024', '01.05.2024',
       '22.03.2024', '11.3.2024', '10.3.2024', '1.2.2024', '15.04.2024',
       '9.8.2023', '21.3.2024', '1.3.2024', '1.4.2024', '17.3.2024',
       '20.2.2024', '20.3.2024', '7.6.2024', '12.5.2024', '5.3.2024',
       '1.5.2024', '19.2.2024', '16.3.2024', '15.3.2024', '30.04.2024',
       '25.3.2024', '8.4.2024', '1.6.2024', '4.3.2024', '2.5.2024',
       '11.5.2024', '25.4.2024', '15.5.2024', '6.3.2024', '31.3.2024',
       '2.3.2024', '14.2.2024', '20.4.2024', '15.4.2024', '1.9.2023',
       '12.3.2024', '12.1.2024', '14.3.2024', '23.2.2024', '8.3.2024',
       '17.5.2024', '30.4.2024', '6.4.2024', '30.3.2024', '28.3.2024',
       '29.3.2024', '18.3.2024', '10.5.2024', '08.04.2024', '14.4.2024',
       '26.1.2023', '1.2.2023', '13.3.2024', '10.05.2024', '3.4.2024',
       '13.5.2024', '7.3.2024', '29.2.2024', '16.1.2024', '23.11.2023',
       '27.2.2024', '25.2.2024', '14.5.2024', '1.10.2023', '9.4.2024',
       '1.9.2022', '13.2.2024', '31.03.2024', '28.2.2024', '16.5.2024',
       '19.3.2024', '26.2.2024', '12.2.2024', '1.7.2024', '8.2.2024',
       '29.4.2024', '25.1.2024', '26.1.2024', '17.10.2023', '8.11.2023',
       '3.3.2024', '1.9.2024', '27.2.2023', '9.2.2024', '10.4.2024',
       '15.3.2023', '1.1.2023', '1.1.2024', '23.3.2024', '01.08.2024',
       '02.04.2024', '05.04.2024', '06.06.2024', '5.5.2024', '21.1.2024',
       '26.5.2024', '1.11.2023', '11.2.2024', '9.1.2024', '29.04.2024',
       '19.1.2024', '25.03.2024', '15.1.2023', '9.3.2024', '09.05.2024',
       '07.04.2024', '6.2.2024', '23.12.2023', '8.1.2023', '18.5.2024',
       '22.2.2024', '16.05.2024', '15.2.2024', '15.12.2023', '25.04.2024',
       '5.2.2024', '22.3.2024', '24.3.2024', '13.4.2024', '26.3.2024',
       '4.5.2024', '10.1.2024', '19.5.2024', '10.6.2024', '16.4.2024',
       '27.4.2024', '10.04.2024', '5.8.2024', '26.8.2023', '29.10.2021',
       '15.05.2024', '18.12.2023', '1.4.2023', '2.4.2024', '1.5.2023',
       '20.05.2024', '15.1.2024', '6.3.2023', '22.1.2024', '31.10.2023',
       '15.8.2023', '2.2.2024', '24.11.2023', '18.1.2024', '14.7.2021',
       '20.12.2023', '12.10.2023', '16.11.2023', '22.4.2024', '6.2.2020',
       '23.03.2024', '16.04.2024', '27.3.2024', '13.05.2024', '6.5.2024',
       '4.2.2022', '30.5.2024', '17.2.2024', '3.10.2023', '8.4.2023',
       '11.1.2024', '26.9.2022', '24.2.2024', '11.9.2019', '7.2.2024',
       '27.1.2024', '21.2.2024', '10.2.2024', '1.6.2023', '22.6.2024',
       '16.4.2023', '22.5.2024', '20.04.2024', '1.7.2023', '1.2.2021',
       '14.12.2023', '1.10.2022', '16.2.2024', '13.12.2023', '9.6.2024',
       '11.4.2024', '8.1.2024', '3.4.2023', '5.4.2024', '13.1.2023',
       '2.10.2023', '3.1.2024', '20.10.2022', '6.12.2023', '23.7.2023',
       '1.5.2020', '11.5.2022', '9.12.2023', '15.3.2022', '18.2.2024',
       '30.06.2024', '12.04.2024', '05.05.2024', '29.03.2024',
       '21.04.2024', '21.03.2024', '24.03.2024', '31.05.2024',
       '06.04.2024', '17.05.2024', '15.07.2024', '26.03.2024',
       '02.05.2024', '06.05.2024', '28.03.2024', '30.03.2024',
       '15.04.2025', '07.06.2024', '30.05.2024', '26.05.2024',
       '22.05.2024', '22.06.2024', '09.06.2024', '14.05.2024',
       '11.06.2024', '19.04.2024', '03.04.2024', '09.04.2024',
       '19.06.2024', '19.02.2025', '27.03.2024', '10.06.2024',
       '23.10.2022', '1.8.2022', '15.06.2024'], dtype=object)

In [15]:
df.loc[~invalid_indices, "available_from"] = pd.to_datetime(
    df.loc[~invalid_indices, "available_from"],
    format="%d.%m.%Y",
    errors="coerce",
)

In [16]:
df.loc[~invalid_indices, "available_from"]

id
225629516     2024-04-01 00:00:00
4060792140    2024-06-01 00:00:00
2784609612    2024-04-01 00:00:00
2122564940    2024-04-01 00:00:00
4263016268    2024-07-01 00:00:00
                     ...
328078668     2024-05-20 00:00:00
3364754764    2024-04-08 00:00:00
419239244     2024-04-01 00:00:00
1810699596    2024-03-21 00:00:00
1660753228    2024-06-01 00:00:00
Name: available_from, Length: 2093, dtype: object

In [17]:
# get all NaT values from available_from
df.loc[df.available_from.isnull()]

,address,area,available_from,balcony,cellar,created,description,disposition,elevator,floor,...,last_seen,loggie,ownership,parking,rent,status,terrace,type,updated,url
id,,,,,,,,,,,,,,,,,,,,,
489409,"Přemyslovská, Praha - Vinohrady",90.0,None,Balkón 20 m²,Sklep 8 m²,2024-03-20 09:40:25.001979,bydlete v unikátním (plně vybaveném) bytě situ...,2+kk,Výtah,6,...,2024-03-20 12:18:36.783776,None,Osobní,Parkování,34 000 Kč,Velmi dobrý,Terasa 20 m²,Cihla,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...
508735,"Makedonská, Praha - Střížkov",82.0,None,Balkón 10 m²,None,2024-03-20 09:40:25.001979,nabízíme k pronájmu byt 3kk o rozloze 72m2 plu...,3+kk,Výtah,3,...,2024-03-20 12:18:36.783776,None,Osobní,None,28 000 Kč,None,None,Ostatní,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...
528745,"Hellichova, Praha - Malá Strana",52.0,None,Balkón 4 m²,Sklep 8 m²,2024-03-20 09:40:25.001979,nájemní bytová jednotka 2+kk na malé straně s ...,2+kk,None,2,...,2024-03-20 12:18:36.783776,None,Osobní,None,28 000 Kč,None,None,Cihla,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...
543869,"U Milosrdných, Praha - Staré Město",71.0,None,None,None,2024-03-20 09:40:25.001979,"luxusně kompletně zařízený a vybavený 2+kk, po...",2+kk,Výtah,5,...,2024-03-20 12:18:36.783776,None,Osobní,None,32 000 Kč,None,None,Cihla,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...
79624,"Spálená, Praha - Nové Město",107.0,None,None,Sklep 6 m²,2024-03-20 09:40:25.001979,"praha 1 byt v secesním domě, na okraji pěší z...",4+kk,None,1,...,2024-03-20 12:18:36.783776,Lodžie 7 m²,Osobní,None,31 500 Kč,None,None,Cihla,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...
541329,"V Podhájí, Praha - Podolí",130.0,None,Balkón 3 m²,None,2024-03-20 09:40:25.001979,nabízíme k pronájmu krásný mezonetový byt 4+1 ...,4+1,None,2,...,2024-03-20 12:18:36.783776,None,Osobní,Parkování,34 990 Kč,Velmi dobrý,Terasa 15 m²,Cihla,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...
510642,"Hošťálkova, Praha - Břevnov",55.0,None,None,None,2024-03-20 09:40:25.001979,zrekonstruovaný byt je v prvním patře rohové ř...,2+1,None,1,...,2024-03-20 12:18:36.783776,None,Osobní,None,22 000 Kč,Po rekonstrukci,None,Cihla,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...
448166,"Lyčkovo náměstí, Praha - Karlín",89.0,None,"Balkón 3,1 m²",None,2024-03-20 09:40:25.001979,pronajmu byt 3+kk ve 3.patře na lyčkově náměst...,3+kk,None,3,...,2024-03-20 12:18:36.783776,None,Osobní,None,22 000 Kč,Velmi dobrý,None,Cihla,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...
552335,"Korunovační, Praha - Bubeneč",70.0,None,Balkón 3 m²,None,2024-03-20 09:40:25.001979,"nabízíme k pronájmu prostorný světlý byt 2+1, ...",2+1,None,1,...,2024-03-20 12:18:36.783776,None,Osobní,None,24 000 Kč,None,"Terasa 0,1 m²",Cihla,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...
525468,"Senegalská, Praha - Vokovice",57.0,None,"Balkón 2,1 m²",Sklep 2 m²,2024-03-20 09:40:25.001979,k dispozici od 1. 4. 2024!,2+1,Výtah,3,...,2024-03-20 12:18:36.783776,Lodžie 3 m²,Osobní,None,19 000 Kč,None,None,Panel,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...
509518,"Pavrovského, Praha - Stodůlky",80.0,None,Balkón 6 m²,None,2024-03-20 09:40:25.001979,pronajmu krásný slunný 3+kk s výhledem do prok...,3+kk,None,7,...,2024-03-20 12:18:36.783776,None,Osobní,None,21 500 Kč,None,None,Panel,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...
418751,"Ke Strašnické, Praha - Strašnice",44.0,None,None,Sklep 3 m²,2024-03-20 09:40:25.001979,pronájem - plně zařízený byt 1+1kk (44m2) v kl...,1+1,None,1,...,2024-03-20 12:18:36.783776,None,Osobní,None,16 000 Kč,None,None,Cihla,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...
432112,"Na Topolce, Praha - Podolí",45.0,None,None,Sklep 4 m²,2024-03-20 09:40:25.001979,kapacita prohlídek je až do 24.3.2024 naplněna...,1+1,Výtah,1,...,2024-03-20 12:18:36.783776,Lodžie 4 m²,Osobní,None,12 000 Kč,None,None,Panel,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...
24757,"Třešňová, Praha - Hloubětín",28.0,None,None,None,2024-03-20 09:40:25.001979,"pronajmu byt 1+ kk v rd, praha 9 - hloubětín, ...",1+kk,None,2,...,2024-03-20 12:18:36.783776,None,Osobní,None,9 800 Kč,None,None,Cihla,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...
570948,"Horňátecká, Praha - Kobylisy",34.0,None,None,Sklep 5 m²,2024-03-20 09:40:25.001979,světlý byt 1+kk ve starší nízkopodlažní zástav...,1+kk,None,2,...,2024-03-20 12:18:36.783776,None,Osobní,None,14 500 Kč,None,None,Cihla,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...
296808,"Václavské náměstí, Praha - Nové Město",31.0,None,None,None,2024-03-20 09:40:25.001979,"praha 1 (václavské nám.- pasáž lucerna), proná...",1+kk,None,3,...,2024-03-20 12:18:36.783776,None,Osobní,None,15 000 Kč,Dobrý,None,Cihla,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...

## Balcony

In [18]:
df.balcony.unique()

array([0, 1, None, 'Balkón 18 m²', 'Balkón 7 m²', 'Balkón 20 m²',
       'Balkón 23 m²', 'Balkón 1,5 m²', 'Balkón 2 m²', 'Balkón 5 m²',
       'Balkón 4 m²', 'Balkón 8 m²', 'Balkón 8,5 m²', 'Balkón 3,5 m²',
       'Balkón', 'Balkón 14 m²', 'Balkón 10 m²', 'Balkón 6 m²',
       'Balkón 7,2 m²', 'Balkón 3 m²', 'Balkón 6,4 m²', 'Balkón 2,5 m²',
       'Balkón 12 m²', 'Balkón 10,5 m²', 'Balkón 12,1 m²',
       'Balkón 3,2 m²', 'Balkón 19 m²', 'Balkón 1 m²', 'Balkón 9 m²',
       'Balkón 5,8 m²', 'Balkón 11 m²', 'Balkón 15 m²', 'Balkón 13,1 m²',
       'Balkón 31 m²', 'Balkón 13 m²', 'Balkón 5,6 m²', 'Balkón 6,8 m²',
       'Balkón 5,1 m²', 'Balkón 3,6 m²', 'Balkón 25 m²', 'Balkón 3,1 m²',
       'Balkón 3,4 m²', 'Balkón 4,7 m²', 'Balkón 7,3 m²', 'Balkón 6,1 m²',
       'Balkón 4,2 m²', 'Balkón 2,1 m²', 'Balkón 5,5 m²', 'Balkón 6,6 m²',
       'Balkón 2,25 m²', 'Balkón 5,79 m²', 'Balkón 4,02 m²',
       'Balkón 3,14 m²', 'Balkón 4,86 m²', 'Balkón 3,45 m²',
       'Balkón 4,1 m²', 'Balkón 8,1 m²', 'Balkón 4,3 m²', 'Balkón 5,3 m²',
       'Balkón 7,1 m²', 'Balkón 29 m²', 'Balkón 6,2 m²', 'Balkón 4,6 m²',
       'Balkón 45 m²', 'Balkón 1,1 m²'], dtype=object)

In [19]:
# if there's a mention of balk in the field, then balcony is most likely present
df.balcony = df.balcony.apply(
    lambda x: 1 if isinstance(x, str) and "balk" in x.lower() else x
)

In [20]:
df.balcony.unique()

array([ 0.,  1., nan])

## Cellar

In [21]:
df.cellar.unique()

array([0, 1, None, 'Sklep', 'Sklep 3 m²', 'Sklep 4 m²', 'Sklep 8 m²',
       'Sklep 6 m²', 'Sklep 2,9 m²', 'Sklep 1,2 m²', 'Sklep 2,5 m²',
       'Sklep 10 m²', 'Sklep 2 m²', 'Sklep 9 m²', 'Sklep 2,2 m²',
       'Sklep 2,15 m²', 'Sklep 5 m²', 'Sklep 1 m²', 'Sklep 15 m²',
       'Sklep 20 m²', 'Sklep 4,7 m²', 'Sklep 4,5 m²', 'Sklep 4,8 m²',
       'Sklep 3,5 m²', 'Sklep 1,5 m²', 'Sklep 3,6 m²', 'Sklep 1,9 m²',
       'Sklep 7 m²', 'Sklep 4,19 m²', 'Sklep 2,1 m²', 'Sklep 3,2 m²',
       'Sklep 3,8 m²', 'Sklep 3,1 m²', 'Sklep 2,4 m²', 'Sklep 3,4 m²',
       'Sklep 42 m²', 'Sklep 2,27 m²', 'Sklep 5,1 m²', 'Sklep 2,3 m²',
       'Sklep 1,45 m²', 'Sklep 2,64 m²', 'Sklep 1,4 m²', 'Sklep 16 m²',
       'Sklep 1,6 m²', 'Sklep 1,1 m²', 'Sklep 4,1 m²', 'Sklep 60 m²',
       'Sklep 2,8 m²', 'Sklep 4,4 m²', 'Sklep 28 m²', 'Sklep 1,3 m²',
       'Sklep 1,7 m²', 'Sklep 80 m²'], dtype=object)

In [22]:
df.cellar = df.cellar.apply(
    lambda x: 1 if isinstance(x, str) and "sklep" in x.lower() else x
)

In [23]:
df.cellar.unique()

array([ 0.,  1., nan])

## Balcony

In [24]:
df.balcony.unique()

array([ 0.,  1., nan])

## Elevator

In [25]:
df.elevator.unique()

array([1, 2, 0, None, 'Výtah'], dtype=object)

In [26]:
df.elevator = df.elevator.apply(
    lambda x: 1 if isinstance(x, str) and "výtah" in x.lower() else x
).apply(lambda x: 0 if x == 2 else x)

In [27]:
df.elevator.unique()

array([ 1.,  0., nan])

## Floor

In [28]:
df.floor.unique()

array(['3. podlaží z celkem 8', '3. podlaží', '-1. podlaží', '4. podlaží',
       '2. podlaží', '4. podlaží z celkem 4', '2. podlaží z celkem 3',
       '2. podlaží z celkem 5', '3. podlaží z celkem 3',
       '2. podlaží z celkem 4', '2. podlaží z celkem 6',
       '6. podlaží z celkem 5', '1. podlaží z celkem 3',
       '3. podlaží z celkem 6', '1. podlaží',
       '6. podlaží z celkem 9 včetně 1 podzemního',
       '4. podlaží včetně 1 podzemního',
       '5. podlaží z celkem 5 včetně 2 podzemních',
       '4. podlaží z celkem 5', '6. podlaží z celkem 7', '6. podlaží',
       '4. podlaží z celkem 6', '6. podlaží z celkem 6',
       '3. podlaží z celkem 5', '5. podlaží z celkem 6',
       '1. podlaží z celkem 5', '5. podlaží z celkem 5',
       '1. podlaží z celkem 1', '5. podlaží z celkem 7', '7. podlaží',
       '1. podlaží z celkem 4',
       '1. podlaží z celkem 3 včetně 1 podzemního',
       '6. podlaží z celkem 8',
       '5. podlaží z celkem 8 včetně 1 podzemního', '5. podlaží',
       '10. podlaží', '4', '6',
       '5. podlaží z celkem 6 včetně 1 podzemního', '3', '5',
       '2. podlaží z celkem 8',
       '1. podlaží z celkem 5 včetně 1 podzemního', '8. podlaží',
       '4. podlaží z celkem 7 včetně 1 podzemního', '7', '1',
       '6. podlaží z celkem 4 včetně 1 podzemního', '2',
       '3. podlaží z celkem 4 včetně 1 podzemního',
       '3. podlaží z celkem 4', '10',
       '2. podlaží z celkem 4 včetně 1 podzemního',
       '2. podlaží z celkem 5 včetně 1 podzemního', 'přízemí',
       '3. podlaží z celkem 6 včetně 1 podzemního',
       '15. podlaží z celkem 20', '3. podlaží z celkem 1',
       '7. podlaží z celkem 7 včetně 1 podzemního', '9. podlaží',
       '4. podlaží z celkem 5 včetně 1 podzemního',
       '6. podlaží z celkem 10', '5. podlaží z celkem 8',
       '6. podlaží z celkem 7 včetně 1 podzemního',
       '3. podlaží z celkem 7',
       '6. podlaží z celkem 6 včetně 2 podzemních',
       '2. podlaží z celkem 7 včetně 1 podzemního',
       '4. podlaží z celkem 7 včetně 2 podzemních',
       '6. podlaží z celkem 8 včetně 1 podzemního',
       '3. podlaží z celkem 5 včetně 2 podzemních',
       '5. podlaží z celkem 5 včetně 1 podzemního',
       '5. podlaží z celkem 6 včetně 2 podzemních',
       '2. podlaží z celkem 6 včetně 1 podzemního',
       '7. podlaží z celkem 7', '6. podlaží z celkem 12',
       '1. podlaží z celkem 1 včetně 1 podzemního',
       '1. podlaží z celkem 6 včetně 1 podzemního',
       '1. podlaží z celkem 2', '4. podlaží z celkem 8',
       '5. podlaží z celkem 11', '1. podlaží z celkem 6', '-1', '21', '9',
       '2. podlaží z celkem 7', '-1. podlaží z celkem 8', '8', None,
       '2. podlaží z celkem 2', 'přízemí z celkem 4',
       '4. podlaží z celkem 5 včetně 2 podzemních',
       '3. podlaží z celkem 5 včetně 1 podzemního',
       '3. podlaží z celkem 3 včetně 1 podzemního',
       '5. podlaží z celkem 8 včetně 2 podzemních',
       '1. podlaží z celkem 7', '19. podlaží z celkem 25',
       '4. podlaží z celkem 7',
       '2. podlaží z celkem 3 včetně 1 podzemního',
       '5. podlaží včetně 2 podzemních', 'přízemí z celkem 8',
       '6. podlaží z celkem 6 včetně 1 podzemního',
       '9. podlaží z celkem 11',
       '3. podlaží z celkem 10 včetně 2 podzemních',
       '2. podlaží z celkem 7 včetně 2 podzemních',
       '11. podlaží z celkem 14 včetně 1 podzemního',
       '8. podlaží z celkem 9',
       '2. podlaží z celkem 6 včetně 6 podzemních',
       '12. podlaží z celkem 12', '5. podlaží z celkem 10',
       '6. podlaží z celkem 9',
       '3. podlaží z celkem 12 včetně 2 podzemních',
       '8. podlaží z celkem 8',
       '7. podlaží z celkem 8 včetně 1 podzemního',
       '1. podlaží z celkem 8',
       '4. podlaží z celkem 6 včetně 1 podzemního',
       '2. podlaží z celkem 4 včetně 2 podzemních',
       '3. podlaží z celkem 9', '20. podlaží z celkem 20',
       '2. podlaží z celkem 8 včetně 1 podzemního',
       '5. podlaží z celkem 4',
       '21. podlaží z celkem 30 včetně 3 podzemních', '11',
       '3. podlaží z celkem 7 včetně 1 podzemního', '15',
       '4. podlaží z celkem 4 včetně 1 podzemního',
       '3. podlaží z celkem 15',
       '1. podlaží z celkem 4 včetně 1 podzemního',
       '5. podlaží z celkem 11 včetně 2 podzemních',
       '8. podlaží z celkem 12 včetně 1 podzemního', '12',
       '5. podlaží z celkem 7 včetně 1 podzemního',
       '2. podlaží z celkem 5 včetně 2 podzemních',
       '1. podlaží z celkem 2 včetně 1 podzemního', '13',
       '-1. podlaží z celkem 5 včetně 1 podzemního',
       '5. podlaží z celkem 7 včetně 2 podzemních',
       '11. podlaží z celkem 18 včetně 6 podzemních',
       '2. podlaží z celkem 6 včetně 3 podzemních',
       '1. podlaží z celkem 11',
       '-2. podlaží z celkem 5 včetně 2 podzemních',
       '1. podlaží z celkem 5 včetně 2 podzemních',
       '2. podlaží z celkem 14',
       '1. podlaží z celkem 4 včetně 2 podzemních',
       '8. podlaží z celkem 10', '7. podlaží z celkem 8',
       '9. podlaží z celkem 11 včetně 1 podzemního',
       '3. podlaží z celkem 10', '11. podlaží z celkem 12',
       '3. podlaží včetně 2 podzemních', '10. podlaží z celkem 12',
       '6. podlaží z celkem 20', '17',
       '3. podlaží z celkem 8 včetně 1 podzemního', '14',
       '2. podlaží z celkem 9', '7. podlaží z celkem 9',
       '4. podlaží z celkem 4 včetně 2 podzemních',
       '8. podlaží z celkem 14 včetně 1 podzemního',
       '2. podlaží z celkem 12 včetně 3 podzemních',
       '1. podlaží z celkem 13',
       '5. podlaží z celkem 9 včetně 1 podzemního',
       '12. podlaží z celkem 13', '12. podlaží z celkem 26',
       '8. podlaží z celkem 15', '4. podlaží z celkem 17',
       '6. podlaží z celkem 8 včetně 2 podzemních',
       '4. podlaží z celkem 10',
       '6. podlaží z celkem 7 včetně 2 podzemních',
       '4. podlaží z celkem 9', '7. podlaží z celkem 10',
       '3. podlaží z celkem 22 včetně 2 podzemních',
       '4. podlaží z celkem 11', '11. podlaží',
       '2. podlaží z celkem 9 včetně 1 podzemního',
       '3. podlaží z celkem 8 včetně 2 podzemních',
       '3. podlaží z celkem 13', '8. podlaží včetně 2 podzemních',
       '-1. podlaží z celkem 4', '6. podlaží z celkem 13',
       'přízemí z celkem 6', '1. podlaží z celkem 2 včetně 2 podzemních',
       '2. podlaží z celkem 1',
       '1. podlaží z celkem 10 včetně 10 podzemních',
       '2. podlaží z celkem 10 včetně 3 podzemních',
       '136. podlaží z celkem 2', '8. podlaží včetně 7 podzemních',
       '3. podlaží včetně 4 podzemních', '3. podlaží z celkem 12',
       '3. podlaží z celkem 14', '11. podlaží z celkem 13',
       '1. podlaží z celkem 4 včetně 3 podzemních',
       '4. podlaží z celkem 8 včetně 1 podzemního',
       '2. podlaží z celkem 6 včetně 2 podzemních',
       '3. podlaží z celkem 18', '2. podlaží včetně 1 podzemního',
       '3. podlaží z celkem 13 včetně 1 podzemního',
       '2. podlaží z celkem 2 včetně 1 podzemního',
       '9. podlaží z celkem 19 včetně 1 podzemního', 'přízemí z celkem 3',
       '5. podlaží z celkem 7 včetně 5 podzemních',
       '3. podlaží z celkem 12 včetně 1 podzemního',
       '5. podlaží z celkem 9', '9. podlaží z celkem 9',
       '6. podlaží z celkem 13 včetně 2 podzemních',
       '1. podlaží z celkem 6 včetně 2 podzemních',
       '7. podlaží z celkem 12', '13. podlaží z celkem 13',
       '3. podlaží z celkem 5 včetně 5 podzemních',
       '4. podlaží z celkem 15', '8. podlaží z celkem 13',
       '2. podlaží z celkem 13', '19. podlaží',
       '2. podlaží včetně 2 podzemních',
       '3. podlaží z celkem 10 včetně 10 podzemních',
       '1. podlaží z celkem 3 včetně 2 podzemních',
       'přízemí z celkem 7 včetně 2 podzemních', '2. podlaží z celkem 10',
       '7. podlaží z celkem 12 včetně 1 podzemního',
       '-1. podlaží z celkem 6 včetně 1 podzemního', 'přízemí z celkem 2',
       '8. podlaží z celkem 11', '8. podlaží z celkem 12',
       '19. podlaží z celkem 30',
       '-1. podlaží z celkem 5 včetně 2 podzemních',
       '2. podlaží z celkem 12',
       '4. podlaží z celkem 12 včetně 3 podzemních',
       '1. podlaží z celkem 8 včetně 2 podzemních',
       '3. podlaží z celkem 17', '9. podlaží z celkem 12',
       '4. podlaží z celkem 13', '4. podlaží z celkem 12',
       '1. podlaží včetně 1 podzemního',
       '2. podlaží z celkem 8 včetně 2 podzemních',
       '2. podlaží z celkem 13 včetně 1 podzemního',
       '9. podlaží z celkem 10', '3. podlaží včetně 1 podzemního',
       '3. podlaží z celkem 7 včetně 2 podzemních',
       '2. podlaží včetně 5 podzemních',
       '6. podlaží z celkem 11 včetně 1 podzemního',
       '3. podlaží z celkem 4 včetně 2 podzemních',
       '5. podlaží z celkem 9 včetně 2 podzemních',
       '4. podlaží z celkem 12 včetně 1 podzemního',
       '7. podlaží z celkem 10 včetně 2 podzemních',
       'přízemí z celkem 3 včetně 1 podzemního', 'přízemí z celkem 5',
       '8. podlaží z celkem 8 včetně 1 podzemního', '12. podlaží',
       '9. podlaží z celkem 13', '4. podlaží z celkem 3',
       '2. podlaží z celkem 18',
       '4. podlaží z celkem 8 včetně 2 podzemních',
       '4. podlaží z celkem 9 včetně 2 podzemních',
       '5. podlaží včetně 1 podzemního',
       '3. podlaží včetně 10 podzemních',
       '3. podlaží z celkem 25 včetně 5 podzemních',
       '7. podlaží z celkem 10 včetně 1 podzemního',
       '8. podlaží z celkem 10 včetně 1 podzemního',
       '9. podlaží z celkem 10 včetně 1 podzemního',
       '1. podlaží včetně 4 podzemních',
       '6. podlaží z celkem 10 včetně 1 podzemního',
       '10. podlaží z celkem 12 včetně 2 podzemních',
       '1. podlaží z celkem 7 včetně 2 podzemních',
       '1. podlaží z celkem 7 včetně 1 podzemního',
       '7. podlaží z celkem 16', '2. podlaží z celkem 15',
       '-2. podlaží z celkem 8 včetně 2 podzemních',
       '14. podlaží z celkem 34 včetně 4 podzemních',
       '6. podlaží z celkem 7 včetně 5 podzemních',
       '5. podlaží z celkem 13',
       '8. podlaží z celkem 8 včetně 3 podzemních',
       '6. podlaží z celkem 11',
       '4. podlaží z celkem 6 včetně 2 podzemních',
       '4. podlaží z celkem 4 včetně 6 podzemních',
       '1. podlaží z celkem 8 včetně 1 podzemního',
       '2. podlaží z celkem 12 včetně 1 podzemního',
       '10. podlaží z celkem 13', '10. podlaží z celkem 16',
       '13. podlaží z celkem 30', '11. podlaží z celkem 11',
       '7. podlaží z celkem 11 včetně 1 podzemního',
       '3. podlaží včetně 6 podzemních',
       '3. podlaží z celkem 9 včetně 1 podzemního',
       '2. podlaží z celkem 10 včetně 2 podzemních',
       '3. podlaží z celkem 9 včetně 2 podzemních',
       '9. podlaží z celkem 20 včetně 2 podzemních',
       '5. podlaží z celkem 3',
       '6. podlaží z celkem 12 včetně 2 podzemních',
       '5. podlaží z celkem 12', '7. podlaží z celkem 6',
       '1. podlaží z celkem 9',
       '8. podlaží z celkem 9 včetně 2 podzemních',
       '7. podlaží z celkem 15 včetně 1 podzemního',
       '2. podlaží z celkem 4 včetně 4 podzemních',
       '15. podlaží z celkem 18',
       '9. podlaží z celkem 15 včetně 3 podzemních',
       '5. podlaží z celkem 15 včetně 3 podzemních',
       '6. podlaží z celkem 15 včetně 3 podzemních',
       '3. podlaží z celkem 15 včetně 3 podzemních',
       '15. podlaží z celkem 15 včetně 3 podzemních',
       '5. podlaží z celkem 17', '15. podlaží',
       '8. podlaží z celkem 15 včetně 3 podzemních',
       '2. podlaží z celkem 9 včetně 2 podzemních',
       '5. podlaží z celkem 14 včetně 2 podzemních',
       '-1. podlaží z celkem 7',
       '-1. podlaží z celkem 7 včetně 1 podzemního',
       '19. podlaží z celkem 27 včetně 7 podzemních',
       '18. podlaží z celkem 27 včetně 7 podzemních'], dtype=object)

In [29]:
df.loc[:, "floor"] = df.floor.replace(". podlaží.*", "", regex=True).replace(
    " z celkem.*", "", regex=True
)
df.floor.unique()

array(['3', '-1', '4', '2', '6', '1', '5', '7', '10', '8', 'přízemí',
       '15', '9', '21', None, '19', '11', '12', '20', '13', '-2', '17',
       '14', '136', '18'], dtype=object)

In [30]:
df.floor = df.floor.apply(lambda x: 0 if x == "přízemí" else x).apply(
    lambda x: np.nan if x == None else int(x)
)
df.floor.unique()

array([  3.,  -1.,   4.,   2.,   6.,   1.,   5.,   7.,  10.,   8.,   0.,
        15.,   9.,  21.,  nan,  19.,  11.,  12.,  20.,  13.,  -2.,  17.,
        14., 136.,  18.])

## Garden

In [31]:
df.garden.unique()

array([None, 'Předzahrádka 34 m²', 450, 5, 189, 63, 320, 60,
       'Předzahrádka 300 m²', 1000, 52, 1850, 'Předzahrádka 72 m²',
       'Předzahrádka 40,1 m²', 'Předzahrádka 15 m²',
       'Předzahrádka 100 m²', 122, 'Předzahrádka 200 m²',
       'Předzahrádka 42 m²', 'Předzahrádka 55 m²', 'Předzahrádka 98 m²',
       'Předzahrádka 500 m²', 'Předzahrádka 700 m²',
       'Předzahrádka 110 m²', 'Předzahrádka 20 m²', 'Předzahrádka 150 m²',
       'Předzahrádka 16 m²', 'Předzahrádka 81 m²', 'Předzahrádka 10 m²',
       37, 50, 'Předzahrádka 40 m²', 'Předzahrádka 80 m²',
       'Předzahrádka 1 m²', 1500, 'Předzahrádka 116 m²', 14, 30,
       'Předzahrádka 26 m²', 'Předzahrádka 18 m²', 'Předzahrádka 23 m²',
       48, 'Předzahrádka 6 m²', 'Předzahrádka 27 m²',
       'Předzahrádka 50 m²', 400, 72, 'Předzahrádka 30 m²',
       'Předzahrádka 8 m²', 27, 'Předzahrádka 400 m²',
       'Předzahrádka 7 m²', 54, 'Předzahrádka 4 m²', 401,
       'Předzahrádka 115 m²', 2000, 600, 16, 316, 8, 26, 499, 0, 84, 150,
       282, 579, 73, 66, 36, 17, 4000, 65, 53, 102, 20, 6, 100, 90, 18,
       86, 43, 83, 40, 62, 140, 44, 114, 12, 167, 1, 10, 31, 24, 297, 250,
       38, 55, 98, 85, 28, 910, 300, 'Předzahrádka 350 m²', 32],
      dtype=object)

In [32]:
# TODO: remove unidecode and move it to Listings class
df.garden = df.garden.apply(
    lambda x: (
        unidecode.unidecode(x)
        .replace("Predzahradka ", "")
        .replace(" m2", "")
        .replace(" ", "")
        .replace(",", ".")
        if isinstance(x, str)
        else x
    )
).astype(float)
df.loc[df.garden.notnull(), "garden"]

id
782819         34.0
1046095180    450.0
3521590604      5.0
2609263948    189.0
3345298764     63.0
              ...
3764831564    100.0
2488063308    100.0
730398        350.0
3010573644     14.0
2820478284     32.0
Name: garden, Length: 165, dtype: float64

## Furnished

In [33]:
df.furnished.unique()

array([1, 3, 2, 0, 'Částečně', 'Vybaveno', None, 'Nevybaveno'],
      dtype=object)

In [34]:
df.furnished = df.furnished.apply(
    lambda x: (
        x.replace("Nevybaveno", "2").replace("Částečně", "3").replace("Vybaveno", "1")
        if isinstance(x, str)
        else x
    )
).apply(lambda x: np.nan if x == None else int(x))

In [35]:
df.furnished.unique()

array([ 1.,  3.,  2.,  0., nan])

## Garage

In [36]:
df.garage.unique()

array([0, 1, None, 'Garáž'], dtype=object)

In [37]:
df.garage = df.garage.apply(lambda x: 1 if isinstance(x, str) and "Garáž" in x else x)
df.garage.unique()

array([ 0.,  1., nan])

## Loggie

In [38]:
df.loggie.unique()

array([0, 1, None, 'Lodžie', 'Lodžie 13 m²', 'Lodžie 4,1 m²',
       'Lodžie 6 m²', 'Lodžie 5 m²', 'Lodžie 12 m²', 'Lodžie 2,5 m²',
       'Lodžie 4 m²', 'Lodžie 7 m²', 'Lodžie 8 m²', 'Lodžie 1,9 m²',
       'Lodžie 12,5 m²', 'Lodžie 3,6 m²', 'Lodžie 3 m²', 'Lodžie 20 m²',
       'Lodžie 5,18 m²', 'Lodžie 4,4 m²', 'Lodžie 9 m²', 'Lodžie 2 m²',
       'Lodžie 3,2 m²', 'Lodžie 24,1 m²', 'Lodžie 6,1 m²',
       'Lodžie 4,7 m²', 'Lodžie 5,6 m²', 'Lodžie 3,1 m²', 'Lodžie 1,5 m²',
       'Lodžie 11,8 m²', 'Lodžie 7,5 m²', 'Lodžie 5,79 m²',
       'Lodžie 2,1 m²', 'Lodžie 3,95 m²', 'Lodžie 4,2 m²',
       'Lodžie 6,6 m²', 'Lodžie 3,5 m²', 'Lodžie 6,5 m²', 'Lodžie 10 m²'],
      dtype=object)

In [39]:
df.loggie = df.loggie.apply(
    lambda x: 1 if isinstance(x, str) and "Lodžie" in x else x
).astype(float)
df.loggie.unique()

array([ 0.,  1., nan])

## Parking

In [40]:
df.parking.unique()

array([0, 1, None, 'Parkování'], dtype=object)

In [41]:
df.parking = df.parking.apply(
    lambda x: 1 if isinstance(x, str) and "Parkování" in x else x
).astype(float)
df.parking.unique()

array([ 0.,  1., nan])

## Rent

In [42]:
df.rent.unique()

array([10694, 28000, 13000, 65689, 31000, 16000, 40000, 64800, 32000,
       36300, 34900, 29000, 34990, 38000, 15000, 60000, 53057, 63163,
       39000, 58000, 18000, 26000, 17000, 24500, 48000, 58110, 14300,
       35000, 30000, 34000, 62400, 84000, 57000, 25000, 12000, 80000,
       95000, 19800, None, 100000, 28490, 120000, 60270, 88000, 16500,
       59600, 36000, 55583, 49000, 99000, 57700, 33000, 19000, 55000,
       22000, 25500, 19999, 20000, 27000, 11500, 23700, 21900, 50000,
       45000, 24000, 90000, 23500, 21300, '35 500 Kč', 22900, '42 000 Kč',
       '41 700 Kč', 20400, '41 000 Kč', 8000, '40 817 Kč', '30 000 Kč',
       25900, '34 000 Kč', '29 000 Kč', '28 799 Kč', '28 765 Kč',
       '26 990 Kč', '26 900 Kč', '26 800 Kč', '26 609 Kč', '26 500 Kč',
       '26 490 Kč', 49900, '26 000 Kč', 19900, 39800, '27 000 Kč', 18500,
       32999, 14000, 21500, 79000, 12500, 44000, 65000, 27500, 24200,
       109800, 16900, 42500, '28 000 Kč', 33500, 7500, 13200, 64190,
       24880, 54000, 23000, 37898, 21000, 37000, 22500, 26500, 39900,
       27999, 25265, 25200, 24900, 28900, 60636, 39500, 44500, 21999,
       25800, 16600, 15500, '25 000 Kč', '30 317 Kč', '28 500 Kč',
       '19 063 €', '115 890 Kč', '119 354 Kč', '113 570 Kč', '111 600 Kč',
       '25 900 Kč', '25 500 Kč', '25 667 Kč', '25 490 Kč', '25 124 Kč',
       '26 381 Kč', 35210, '27 990 Kč', '27 500 Kč', '27 380 Kč',
       '27 312 Kč', '27 300 Kč', '27 332 Kč', '27 162 Kč', '110 000 Kč',
       '102 313 Kč', '100 865 Kč', '94 763 Kč', '94 699 Kč', '90 990 Kč',
       '90 856 Kč', 98000, '24 990 Kč', '24 900 Kč', 50025, 17900, 74000,
       19500, 29900, 26850, 11990, 14500, 23513, 17500, 65800, 31500,
       13855, 28500, 34500, 15900, '27 700 Kč', '24 518 Kč', 28001, 17661,
       '24 500 Kč', 20690, '24 228 Kč', 89800, 129000, 69800, 94800,
       72580, 48800, 8700, 32200, '230 393 Kč', '24 999 Kč', '24 800 Kč',
       19600, '24 440 Kč', '33 500 Kč', '28 900 Kč', '33 247 Kč',
       '33 188 Kč', '33 000 Kč', '33 238 Kč', '33 681 Kč', '32 390 Kč',
       '32 192 Kč', '32 000 Kč', 41031, '37 043 Kč', '28 961 Kč',
       '37 000 Kč', '36 726 Kč', '36 599 Kč', '36 000 Kč', '35 930 Kč',
       '35 695 Kč', '35 585 Kč', '31 998 Kč', '31 900 Kč', '31 500 Kč',
       '31 405 Kč', 9358, '31 000 Kč', 22990, '38 783 Kč', '39 000 Kč',
       '30 990 Kč', '38 000 Kč', 15573, '37 990 Kč', '37 814 Kč',
       '37 801 Kč', '37 621 Kč', '37 500 Kč', '37 304 Kč', 15800,
       '37 197 Kč', '29 800 Kč', '29 864 Kč', '29 990 Kč', '29 900 Kč',
       '29 500 Kč', '29 202 Kč', 66826, '29 348 Kč', '29 219 Kč',
       '29 200 Kč', '39 568 Kč', '40 000 Kč', '39 500 Kč', '30 279 Kč',
       19490, '30 231 Kč', '30 217 Kč', 71980, '35 000 Kč', '35 300 Kč',
       '34 990 Kč', '34 500 Kč', 70000, 42000, 38400, 19990, 72000, 8870,
       61461, 43000, 47000, 40500, 15490, 75795, 130000, 78000, 30318,
       13500, 45400, 14800, 13490, 59000, '38 159 Kč', '37 533 Kč', 53000,
       27700, 150000, '53 700 Kč', '64 403 Kč', 32700, '24 157 Kč', 28600,
       '45 050 Kč', '45 000 Kč', '44 900 Kč', 34600, 27900, '44 500 Kč',
       26900, '23 500 Kč', 35800, 31300, '22 999 Kč', 43300, '22 990 Kč',
       '22 900 Kč', '22 630 Kč', '23 000 Kč', 31800, 46000, 29800, 25300,
       20100, 75000, 18400, 20990, '22 500 Kč', 16950, 15400, '22 000 Kč',
       19790, 20500, 108900, 159900, 109900, 154900, 157900, 14990, 62150,
       24590, 24090, 65900, '83 443 Kč', '24 000 Kč', 31600, '23 990 Kč',
       20001, 29700, 33900, 26700, 32900, 16800, 92597, 97751,
       '23 900 Kč', '23 800 Kč', '23 700 Kč', '22 490 Kč', '22 487 Kč',
       '22 410 Kč', '22 172 Kč', 15388, 10158, 66000, 65450, 70700, 67800,
       28999, 250000, 58085, '23 499 Kč', '23 490 Kč', '44 399 Kč', 43800,
       '43 990 Kč', '42 830 Kč', '42 021 Kč', '43 000 Kč', '64 192 Kč',
       '64 391 Kč', '64 356 Kč', '64 273 Kč', '62 500 Kč', '61 308 Kč',
       '59 000 Kč', '59 111 Kč', '56 500 Kč', '55 000 Kč', '54 513 Kč',
       '54 000 Kč', 18191, '52 984 Kč', '50 693 Kč', '50 000 Kč',
       '52 999 Kč', '49 612 Kč', '49 000 Kč', 30500, '47 990 Kč',
       '45 900 Kč', '46 900 Kč', '45 428 Kč', '45 361 Kč', '83 131 Kč',
       '75 713 Kč', '47 922 Kč', '74 000 Kč', 27539, '73 584 Kč',
       '73 442 Kč', '71 732 Kč', 20900, 29500, '69 656 Kč', '68 117 Kč',
       '68 142 Kč', '81 118 Kč', '68 091 Kč', '66 396 Kč', '80 375 Kč',
       '67 943 Kč', 90976, 15390, 18260, 41000, 54900, 15790, 16690,
       '64 309 Kč', '46 000 Kč', 20005, 14290, 60918, '21 500 Kč',
       '20 900 Kč', '19 800 Kč', '19 500 Kč', '20 000 Kč', '19 990 Kč',
       '19 000 Kč', 13800, '52 242 Kč', '20 270 Kč', '18 999 Kč',
       '18 990 Kč', '18 900 Kč', '18 929 Kč', '18 893 Kč', '18 800 Kč',
       62000, 18800, 31790, 36635, 26090, 33790, 33090, 38590, 63490,
       64000, 67000, 32500, 30625, 68000, 22090, 12900, 20150, 114770,
       '19 900 Kč', '19 490 Kč', 53581, 21990, '18 112 Kč', 39200, 40424,
       16738, 28790, 21270, '19 200 Kč', '18 000 Kč', '18 100 Kč',
       '18 797 Kč', '18 500 Kč', 43900, 56000, '18 490 Kč', '18 238 Kč',
       11000, 82000, 22790, '20 700 Kč', '20 500 Kč', '20 490 Kč',
       '20 382 Kč', '20 290 Kč', '21 084 Kč', '21 000 Kč', 61350, 48004,
       92000, 30400, 17110, 36500, 14400, 28045, '20 990 Kč', '20 985 Kč',
       18005, 20270, 11800, '21 996 Kč', '21 990 Kč', '21 900 Kč',
       '21 957 Kč', '21 602 Kč', '21 600 Kč', 12499, 52000, 55959, 23600,
       85000, 41890, 113238, 19750, 9310, 27807, 63322, '20 100 Kč',
       61840, 39560, 14750, '17 500 Kč', '17 050 Kč', '17 000 Kč',
       '16 500 Kč', '16 490 Kč', 22999, 6000, '16 400 Kč', '16 000 Kč',
       '15 600 Kč', '15 500 Kč', 14900, 23990, '17 990 Kč', '17 950 Kč',
       '15 490 Kč', 105000, '17 900 Kč', '17 897 Kč', '17 800 Kč',
       '15 999 Kč', 18900, '15 990 Kč', '16 300 Kč', '16 100 Kč', 35500,
       '16 990 Kč', '16 900 Kč', '16 807 Kč', '16 700 Kč', '16 581 Kč',
       '17 490 Kč', 13900, 10000, '17 400 Kč', '17 300 Kč', '17 200 Kč',
       29300, 17990, 49500, 11900, 15600, 15200, 148200, 55500, 63000,
       '15 000 Kč', '14 000 Kč', '14 990 Kč', '13 300 Kč', '13 600 Kč',
       '13 500 Kč', '13 490 Kč', '13 404 Kč', '13 400 Kč', '13 200 Kč',
       '13 000 Kč', '14 900 Kč', '11 000 Kč', '11 410 Kč', '12 990 Kč',
       '12 900 Kč', '12 870 Kč', '12 872 Kč', '12 745 Kč', '12 700 Kč',
       20746, '12 500 Kč', '10 990 Kč', '10 500 Kč', '10 000 Kč',
       '14 800 Kč', '14 764 Kč', '10 490 Kč', '14 500 Kč', 14999,
       '12 000 Kč', '9 963 Kč', '9 800 Kč', '9 900 Kč', '9 500 Kč',
       '9 393 Kč', '11 750 Kč', '11 500 Kč', '11 490 Kč', '13 990 Kč',
       '13 900 Kč', '13 890 Kč', '13 800 Kč', '13 700 Kč', '9 000 Kč',
       '8 000 Kč', '8 500 Kč', '8 900 Kč', '7 900 Kč', '7 999 Kč',
       '14 300 Kč', '14 490 Kč', '14 205 Kč', 23050, 16990, '15 300 Kč',
       '15 200 Kč', 21470, 23150, 27675, '15 900 Kč', '15 800 Kč',
       '15 834 Kč', '7 500 Kč', '7 000 Kč', '6 716 Kč', '6 500 Kč',
       '6 250 Kč', '6 000 Kč', '5 500 Kč', '5 200 Kč', 17200, 6700, 21388,
       27800, 45990, 14490, 33800, 39990, 20980, 9000, 8500, 10400, 59900,
       17600, 18990, 20002, 27600, 10900, 23900, 9500, 16275, 22600,
       15890, 48500, 23300, 18720, 25999, 12200, 7000, 17850, 24400,
       69000, 12990, 20390, 13575, 14250, 17180, 22400, 28200, 21600,
       45100, 35300, 29200, 26100, 59500, 43500, 20700, 12880, 14600,
       18200, 36600, 38800, 41500, 23522, 20971, 17999, 17490, 23490,
       10500, 20800, 9990, 64900, 22658, 20449, 55900, 13990, 26800, 8400,
       31900, 10990, 41300, 43400, 11490, 13700, 13190, 21450, 12600,
       12300, 8990, 4000, 29400, 37500, 21190, 29990, 22479, 22800, 27990,
       24800, 5000, 15999, 6500, 270000, 23800, 34800, 36887, 17800,
       43700, 19200, 195000, 9600, 8200, 28553, 23750, 47500, 19425,
       31582, 15450, 15550, 12800, 12700, 15300, 17400, 16200, 18438,
       19688, 13750, 52900, 115000, 28721, 24990, 16490, 30990, 15990,
       43990, 47990, 20490, 10490, 22490, 26990, 18490, 115588, 22645,
       87000, 18003, 17388, 24300, 40600, 29721, 19451, 110000, 7667,
       25490, 26490, 37990, 17451, 25721, 48172, 5100, 14700, 23755,
       18480, 37174, 38500, 16400, 63479, 35900, 44900, 31100, 21200,
       77000, 80848, 28400, 39950, 75540, 21490, 21400, 13890, 27490,
       56089, 118000, 27438, 35400, 53700, 41700, 73774, 71085, 7600,
       36800, 26999, 13901, 29950, 7900, 40399, 15700, 73000, 135000,
       34912, 17704, 9700, 19837, 89000, 57427, 16700, 59238, 17590,
       16290, 15950, 21700, 140000, 50096, 40431, 13400, 21820, 58300,
       17722, 22700, 5300, 46900, 49800, 124800, 18499, 17700, 18349,
       21050, 23200, 21499, 33400, 75200, 115800, 87500, 39300, 61500,
       25400, 122500, 71000, 62600, 28290, 24018, 70313, 38900, 68216,
       131378], dtype=object)

In [43]:
df.loc[:, "rent"] = df.rent.apply(
    lambda x: (
        int(x.replace(" ", "").replace("Kč", "").replace("€", ""))
        if isinstance(x, str)
        else x
    )
).astype(float)

df.rent.sort_values().unique()

array([4000.0, 5000.0, 5100.0, 5200.0, 5300.0, 5500.0, 6000.0, 6250.0,
       6500.0, 6700.0, 6716.0, 7000.0, 7500.0, 7600.0, 7667.0, 7900.0,
       7999.0, 8000.0, 8200.0, 8400.0, 8500.0, 8700.0, 8870.0, 8900.0,
       8990.0, 9000.0, 9310.0, 9358.0, 9393.0, 9500.0, 9600.0, 9700.0,
       9800.0, 9900.0, 9963.0, 9990.0, 10000.0, 10158.0, 10400.0, 10490.0,
       10500.0, 10694.0, 10900.0, 10990.0, 11000.0, 11410.0, 11490.0,
       11500.0, 11750.0, 11800.0, 11900.0, 11990.0, 12000.0, 12200.0,
       12300.0, 12499.0, 12500.0, 12600.0, 12700.0, 12745.0, 12800.0,
       12870.0, 12872.0, 12880.0, 12900.0, 12990.0, 13000.0, 13190.0,
       13200.0, 13300.0, 13400.0, 13404.0, 13490.0, 13500.0, 13575.0,
       13600.0, 13700.0, 13750.0, 13800.0, 13855.0, 13890.0, 13900.0,
       13901.0, 13990.0, 14000.0, 14205.0, 14250.0, 14290.0, 14300.0,
       14400.0, 14490.0, 14500.0, 14600.0, 14700.0, 14750.0, 14764.0,
       14800.0, 14900.0, 14990.0, 14999.0, 15000.0, 15200.0, 15300.0,
       15388.0, 15390.0, 15400.0, 15450.0, 15490.0, 15500.0, 15550.0,
       15573.0, 15600.0, 15700.0, 15790.0, 15800.0, 15834.0, 15890.0,
       15900.0, 15950.0, 15990.0, 15999.0, 16000.0, 16100.0, 16200.0,
       16275.0, 16290.0, 16300.0, 16400.0, 16490.0, 16500.0, 16581.0,
       16600.0, 16690.0, 16700.0, 16738.0, 16800.0, 16807.0, 16900.0,
       16950.0, 16990.0, 17000.0, 17050.0, 17110.0, 17180.0, 17200.0,
       17300.0, 17388.0, 17400.0, 17451.0, 17490.0, 17500.0, 17590.0,
       17600.0, 17661.0, 17700.0, 17704.0, 17722.0, 17800.0, 17850.0,
       17897.0, 17900.0, 17950.0, 17990.0, 17999.0, 18000.0, 18003.0,
       18005.0, 18100.0, 18112.0, 18191.0, 18200.0, 18238.0, 18260.0,
       18349.0, 18400.0, 18438.0, 18480.0, 18490.0, 18499.0, 18500.0,
       18720.0, 18797.0, 18800.0, 18893.0, 18900.0, 18929.0, 18990.0,
       18999.0, 19000.0, 19063.0, 19200.0, 19425.0, 19451.0, 19490.0,
       19500.0, 19600.0, 19688.0, 19750.0, 19790.0, 19800.0, 19837.0,
       19900.0, 19990.0, 19999.0, 20000.0, 20001.0, 20002.0, 20005.0,
       20100.0, 20150.0, 20270.0, 20290.0, 20382.0, 20390.0, 20400.0,
       20449.0, 20490.0, 20500.0, 20690.0, 20700.0, 20746.0, 20800.0,
       20900.0, 20971.0, 20980.0, 20985.0, 20990.0, 21000.0, 21050.0,
       21084.0, 21190.0, 21200.0, 21270.0, 21300.0, 21388.0, 21400.0,
       21450.0, 21470.0, 21490.0, 21499.0, 21500.0, 21600.0, 21602.0,
       21700.0, 21820.0, 21900.0, 21957.0, 21990.0, 21996.0, 21999.0,
       22000.0, 22090.0, 22172.0, 22400.0, 22410.0, 22479.0, 22487.0,
       22490.0, 22500.0, 22600.0, 22630.0, 22645.0, 22658.0, 22700.0,
       22790.0, 22800.0, 22900.0, 22990.0, 22999.0, 23000.0, 23050.0,
       23150.0, 23200.0, 23300.0, 23490.0, 23499.0, 23500.0, 23513.0,
       23522.0, 23600.0, 23700.0, 23750.0, 23755.0, 23800.0, 23900.0,
       23990.0, 24000.0, 24018.0, 24090.0, 24157.0, 24200.0, 24228.0,
       24300.0, 24400.0, 24440.0, 24500.0, 24518.0, 24590.0, 24800.0,
       24880.0, 24900.0, 24990.0, 24999.0, 25000.0, 25124.0, 25200.0,
       25265.0, 25300.0, 25400.0, 25490.0, 25500.0, 25667.0, 25721.0,
       25800.0, 25900.0, 25999.0, 26000.0, 26090.0, 26100.0, 26381.0,
       26490.0, 26500.0, 26609.0, 26700.0, 26800.0, 26850.0, 26900.0,
       26990.0, 26999.0, 27000.0, 27162.0, 27300.0, 27312.0, 27332.0,
       27380.0, 27438.0, 27490.0, 27500.0, 27539.0, 27600.0, 27675.0,
       27700.0, 27800.0, 27807.0, 27900.0, 27990.0, 27999.0, 28000.0,
       28001.0, 28045.0, 28200.0, 28290.0, 28400.0, 28490.0, 28500.0,
       28553.0, 28600.0, 28721.0, 28765.0, 28790.0, 28799.0, 28900.0,
       28961.0, 28999.0, 29000.0, 29200.0, 29202.0, 29219.0, 29300.0,
       29348.0, 29400.0, 29500.0, 29700.0, 29721.0, 29800.0, 29864.0,
       29900.0, 29950.0, 29990.0, 30000.0, 30217.0, 30231.0, 30279.0,
       30317.0, 30318.0, 30400.0, 30500.0, 30625.0, 30990.0, 31000.0,
       31100.0, 31300.0, 31405.0, 31500.0, 31582.0, 31600.0, 31790.0,
       31800.0, 31900.0, 31998.0, 32000.0, 32192.0, 32200.0, 32390.0,
       32500.0, 32700.0, 32900.0, 32999.0, 33000.0, 33090.0, 33188.0,
       33238.0, 33247.0, 33400.0, 33500.0, 33681.0, 33790.0, 33800.0,
       33900.0, 34000.0, 34500.0, 34600.0, 34800.0, 34900.0, 34912.0,
       34990.0, 35000.0, 35210.0, 35300.0, 35400.0, 35500.0, 35585.0,
       35695.0, 35800.0, 35900.0, 35930.0, 36000.0, 36300.0, 36500.0,
       36599.0, 36600.0, 36635.0, 36726.0, 36800.0, 36887.0, 37000.0,
       37043.0, 37174.0, 37197.0, 37304.0, 37500.0, 37533.0, 37621.0,
       37801.0, 37814.0, 37898.0, 37990.0, 38000.0, 38159.0, 38400.0,
       38500.0, 38590.0, 38783.0, 38800.0, 38900.0, 39000.0, 39200.0,
       39300.0, 39500.0, 39560.0, 39568.0, 39800.0, 39900.0, 39950.0,
       39990.0, 40000.0, 40399.0, 40424.0, 40431.0, 40500.0, 40600.0,
       40817.0, 41000.0, 41031.0, 41300.0, 41500.0, 41700.0, 41890.0,
       42000.0, 42021.0, 42500.0, 42830.0, 43000.0, 43300.0, 43400.0,
       43500.0, 43700.0, 43800.0, 43900.0, 43990.0, 44000.0, 44399.0,
       44500.0, 44900.0, 45000.0, 45050.0, 45100.0, 45361.0, 45400.0,
       45428.0, 45900.0, 45990.0, 46000.0, 46900.0, 47000.0, 47500.0,
       47922.0, 47990.0, 48000.0, 48004.0, 48172.0, 48500.0, 48800.0,
       49000.0, 49500.0, 49612.0, 49800.0, 49900.0, 50000.0, 50025.0,
       50096.0, 50693.0, 52000.0, 52242.0, 52900.0, 52984.0, 52999.0,
       53000.0, 53057.0, 53581.0, 53700.0, 54000.0, 54513.0, 54900.0,
       55000.0, 55500.0, 55583.0, 55900.0, 55959.0, 56000.0, 56089.0,
       56500.0, 57000.0, 57427.0, 57700.0, 58000.0, 58085.0, 58110.0,
       58300.0, 59000.0, 59111.0, 59238.0, 59500.0, 59600.0, 59900.0,
       60000.0, 60270.0, 60636.0, 60918.0, 61308.0, 61350.0, 61461.0,
       61500.0, 61840.0, 62000.0, 62150.0, 62400.0, 62500.0, 62600.0,
       63000.0, 63163.0, 63322.0, 63479.0, 63490.0, 64000.0, 64190.0,
       64192.0, 64273.0, 64309.0, 64356.0, 64391.0, 64403.0, 64800.0,
       64900.0, 65000.0, 65450.0, 65689.0, 65800.0, 65900.0, 66000.0,
       66396.0, 66826.0, 67000.0, 67800.0, 67943.0, 68000.0, 68091.0,
       68117.0, 68142.0, 68216.0, 69000.0, 69656.0, 69800.0, 70000.0,
       70313.0, 70700.0, 71000.0, 71085.0, 71732.0, 71980.0, 72000.0,
       72580.0, 73000.0, 73442.0, 73584.0, 73774.0, 74000.0, 75000.0,
       75200.0, 75540.0, 75713.0, 75795.0, 77000.0, 78000.0, 79000.0,
       80000.0, 80375.0, 80848.0, 81118.0, 82000.0, 83131.0, 83443.0,
       84000.0, 85000.0, 87000.0, 87500.0, 88000.0, 89000.0, 89800.0,
       90000.0, 90856.0, 90976.0, 90990.0, 92000.0, 92597.0, 94699.0,
       94763.0, 94800.0, 95000.0, 97751.0, 98000.0, 99000.0, 100000.0,
       100865.0, 102313.0, 105000.0, 108900.0, 109800.0, 109900.0,
       110000.0, 111600.0, 113238.0, 113570.0, 114770.0, 115000.0,
       115588.0, 115800.0, 115890.0, 118000.0, 119354.0, 120000.0,
       122500.0, 124800.0, 129000.0, 130000.0, 131378.0, 135000.0,
       140000.0, 148200.0, 150000.0, 154900.0, 157900.0, 159900.0,
       195000.0, 230393.0, 250000.0, 270000.0, nan], dtype=object)

## Status

In [44]:
# 'status'

# unique values for status
df.status.unique()

array(['Velmi dobrý', 'Novostavba', 'Po rekonstrukci', 'Dobrý',
       'Před rekonstrukcí', None, 'V rekonstrukci', 'Projekt',
       'Ve výstavbě'], dtype=object)

In [45]:
## Ownership

In [46]:
df.ownership.unique()

array([1, 2, None, 'Osobní', 3, 'Družstevní', 'Ostatní', 'Obecní'],
      dtype=object)

In [47]:
df.ownership = df.ownership.apply(
    lambda x: (
        str(x).replace("1", "Osobní").replace("2", "Družstevní").replace("3", "Ostatní").replace("Obecní", "Ostatní")
        if isinstance(x, int)
        else x
    )
).apply(lambda x: np.nan if x == None else x)

In [48]:
df.ownership.unique()

array(['Osobní', 'Družstevní', nan, 'Ostatní', 'Obecní'], dtype=object)

## Terrace

In [49]:
df.terrace.unique()

array([0, 1, 'Terasa 30 m²', None, 'Terasa 8 m²', 'Terasa 20 m²',
       'Terasa 40 m²', 'Terasa 5,1 m²', 'Terasa 9 m²', 'Terasa 11 m²',
       'Terasa 16 m²', 'Terasa', 'Terasa 6 m²', 'Terasa 18,3 m²',
       'Terasa 7,5 m²', 'Terasa 60 m²', 'Terasa 10 m²', 'Terasa 3 m²',
       'Terasa 53 m²', 'Terasa 12 m²', 'Terasa 14 m²', 'Terasa 70 m²',
       'Terasa 17 m²', 'Terasa 15 m²', 'Terasa 5 m²', 'Terasa 27 m²',
       'Terasa 7 m²', 'Terasa 4 m²', 'Terasa 81 m²', 'Terasa 13 m²',
       'Terasa 45 m²', 'Terasa 5,2 m²', 'Terasa 200 m²', 'Terasa 18 m²',
       'Terasa 82 m²', 'Terasa 0,1 m²', 'Terasa 24 m²', 'Terasa 39 m²',
       'Terasa 80 m²', 'Terasa 112 m²', 'Terasa 21 m²', 'Terasa 25 m²',
       'Terasa 1\xa0000 m²', 'Terasa 65 m²', 'Terasa 23 m²',
       'Terasa 10,5 m²', 'Terasa 7,2 m²', 'Terasa 50 m²', 'Terasa 300 m²',
       'Terasa 2 m²', 'Terasa 3,1 m²', 'Terasa 8,6 m²'], dtype=object)

In [50]:
# 'terrace',
df.loc[:, "terrace"] = df["terrace"].apply(
    lambda x: 1 if isinstance(x, str) and "Terasa" in x else x
)
df.loc[:, "terrace"].unique()

array([0.0, 1.0, nan], dtype=object)

## Type

In [51]:
# 'type'
df.type.unique()
df.loc[:, "type"] = df["type"].apply(
    lambda x: (
        x.replace("Cihla", "cihlova")
        .replace("Panel", "panelova")
        .replace("Smíšená", "ostatni")
        .replace("Skeletová", "ostatni")
        .replace("Nízkoenergetická", "ostatni")
        .replace("Montovaná", "ostatni")
        .replace("Dřevostavba", "ostatni")
        .replace("Kamenná", "ostatni")
        .replace("Ostatní", "ostatni")
        if isinstance(x, str)
        else x
    )
)
df.loc[:, "type"] = df["type"].apply(
    lambda x: SrealityUrlBuilder.map_building_type(x) if isinstance(x, int) else x
)
df.type.unique()

array(['ostatni', 'cihlova', 'panelova', None], dtype=object)

## Floor

In [52]:
df.floor = df.floor.apply(lambda x: int(x) if isinstance(x, str) else x)
df.floor

id
858048604      3.0
3269453132     3.0
4037891148    -1.0
866014284      4.0
829482316      2.0
              ...
3907851596    18.0
1810699596     6.0
3355252044     2.0
3875345740     2.0
1660753228     3.0
Name: floor, Length: 5245, dtype: float64

## POI Distance

In [53]:
from app import get_point
POI = "NTK Praha"
poi_point = get_point(POI)

In [54]:

from geopy.distance import distance

points_of_interest = [poi_point]

# https://stackoverflow.com/questions/37885798/how-to-calculate-the-midpoint-of-several-geolocations-in-python
x = 0.0
y = 0.0
z = 0.0

for point in points_of_interest:
    
    
    latitude = np.radians(point.latitude)
    longitude = np.radians(point.longitude)

    x += np.cos(latitude) * np.cos(longitude)
    y += np.cos(latitude) * np.sin(longitude)
    z += np.sin(latitude)

total = len(points_of_interest)

x = x / total
y = y / total
z = z / total

central_longitude = np.degrees(np.arctan2(y, x))
central_square_root = np.sqrt(x * x + y * y)
central_latitude = np.degrees(np.arctan2(z, central_square_root))

print(f"{central_latitude}, {central_longitude}")


for i, row in df.iterrows():
    df.loc[i, "poi_distance"] = distance((central_latitude, central_longitude), (row.gps_lat, row.gps_lon)).m
df.poi_distance

50.10391984999999, 14.390643481864164

id
858048604     3363.900532
3269453132    9127.526142
4037891148    8723.113095
866014284     4293.132364
829482316     3140.007238
                 ...
3907851596    6846.649294
1810699596    8484.763950
3355252044    4078.580807
3875345740    3231.902166
1660753228    2990.164543
Name: poi_distance, Length: 5245, dtype: float64

In [55]:
nominal = ['address', 'description', 'disposition', 'ownership', 'status', 'type', 'url']
ordinal = ['floor', 'furnished', 'balcony', 'cellar', 'elevator', 'garage', 'loggie', 'parking', 'terrace']
interval = ['available_from', 'created', 'last_seen', 'updated']
ratio = ['area', 'rent', 'poi_distance', 'garden'] # 'gps_lat', 'gps_lon' not included

In [56]:
for col in ordinal + ratio:
    print(f"{df[col].sort_values().value_counts(bins=5 if col not in ordinal else None)}\n")

floor
 2.0      1115
 3.0      1069
 4.0       863
 1.0       698
 5.0       633
 6.0       463
 7.0       148
 8.0        72
 9.0        39
 0.0        26
 11.0       23
-1.0        20
 10.0       16
 12.0       12
 15.0        7
-2.0         4
 19.0        4
 13.0        3
 17.0        2
 14.0        2
 21.0        2
 18.0        1
 20.0        1
 136.0       1
Name: count, dtype: int64

furnished
1.0    2392
3.0    1282
2.0     990
0.0     559
Name: count, dtype: int64

balcony
0.0    2973
1.0    1498
Name: count, dtype: int64

cellar
0.0    2975
1.0    1567
Name: count, dtype: int64

elevator
1.0    3467
0.0    1340
Name: count, dtype: int64

garage
0.0    3280
1.0    1074
Name: count, dtype: int64

loggie
0.0    3842
1.0     461
Name: count, dtype: int64

parking
0.0    3313
1.0    1158
Name: count, dtype: int64

terrace
0.0    3436
1.0     886
Name: count, dtype: int64

(7.572, 93.4]     4087
(93.4, 178.8]      961
(178.8, 264.2]     160
(264.2, 349.6]      33
(349.6, 435.0]       3
Name: count, dtype: int64

(3733.999, 57200.0]     4701
(57200.0, 110400.0]      455
(110400.0, 163600.0]      64
(216800.0, 270000.0]       3
(163600.0, 216800.0]       1
Name: count, dtype: int64

(4408.512, 8693.359]              2371
(102.23899999999999, 4408.512]    2009
(8693.359, 12978.206]              706
(12978.206, 17263.053]             131
(17263.053, 21547.9]                28
Name: count, dtype: int64

(-4.001, 800.0]     154
(800.0, 1600.0]       6
(1600.0, 2400.0]      3
(3200.0, 4000.0]      2
(2400.0, 3200.0]      0
Name: count, dtype: int64

In [57]:
df.fillna(value=np.nan, inplace=True)

/tmp/ipykernel_7220/1829536916.py:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df.fillna(value=np.nan, inplace=True)

In [58]:
# save df to xlsx openpyxl==3.1.2 required
df.to_excel("listings.xlsx", na_rep="NaN")
df

,address,area,available_from,balcony,cellar,created,description,disposition,elevator,floor,...,loggie,ownership,parking,rent,status,terrace,type,updated,url,poi_distance
id,,,,,,,,,,,,,,,,,,,,,
858048604,"Na zátorách, Praha 7 - Holešovice",26.0,2024-03-20 09:40:25.001979,0.0,0.0,2024-03-20 09:40:25.001979,na realitách uvádíme celkovou měsíční all-in c...,other,1.0,3.0,...,0.0,Osobní,0.0,10694.0,Velmi dobrý,0.0,ostatni,2024-03-20 09:40:25.001979,https://www.sreality.cz/detail/pronajem/byt/po...,3363.900532
3269453132,"Kolbenova, Praha",80.0,2024-03-20 09:40:25.001979,0.0,0.0,2024-03-20 09:40:25.001979,k pronájmu nabízíme byt o dispozici 3+kk na pr...,3+kk,1.0,3.0,...,0.0,Osobní,0.0,28000.0,Novostavba,1.0,ostatni,2024-03-20 09:40:25.001979,https://www.sreality.cz/detail/pronajem/byt/3+...,9127.526142
4037891148,"Černokostelecká, Praha 10 - Strašnice",33.0,2024-03-20 09:40:25.001979,0.0,0.0,2024-03-20 09:40:25.001979,"nabízíme k dlouhodobému pronájmu byt 1+kk, kte...",1+kk,0.0,-1.0,...,0.0,Osobní,0.0,13000.0,Po rekonstrukci,0.0,cihlova,2024-03-20 09:40:25.001979,https://www.sreality.cz/detail/pronajem/byt/1+...,8723.113095
866014284,"Italská, Praha 2 - Vinohrady",92.0,2024-03-20 09:40:25.001979,0.0,0.0,2024-03-20 09:40:25.001979,"pronájem kompletně zařízeného bytu 3+kk, 92 m2...",3+kk,1.0,4.0,...,0.0,Osobní,0.0,65689.0,Velmi dobrý,0.0,ostatni,2024-03-20 09:40:25.001979,https://www.sreality.cz/detail/pronajem/byt/3+...,4293.132364
829482316,"U Nesypky, Praha 5 - Smíchov",125.0,2024-03-20 09:40:25.001979,0.0,0.0,2024-03-20 09:40:25.001979,"zařízený, zrekonstruovaný byt 3+1 s terasou v ...",3+1,0.0,2.0,...,0.0,Osobní,0.0,31000.0,Velmi dobrý,1.0,cihlova,2024-03-20 09:40:25.001979,https://www.sreality.cz/detail/pronajem/byt/3+...,3140.007238
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907851596,"Sluneční náměstí, Praha 5 - Stodůlky",110.0,2024-03-20 12:18:36.783776,0.0,1.0,2024-03-20 12:18:36.783776,ihned k pronájmu je připravený prostorný byt s...,3+1,1.0,18.0,...,0.0,Družstevní,1.0,45000.0,Velmi dobrý,0.0,ostatni,2024-03-20 12:18:36.783776,https://www.sreality.cz/detail/pronajem/byt/3+...,6846.649294
1810699596,"náměstí Olgy Scheinpflugové, Praha",42.0,2024-03-21 00:00:00.000000,0.0,0.0,2024-03-20 12:18:36.783776,"nabízíme k pronájmu luxusní, nový a plně zaříz...",1+kk,1.0,6.0,...,0.0,Osobní,0.0,20900.0,Velmi dobrý,1.0,cihlova,2024-03-20 12:18:36.783776,https://www.sreality.cz/detail/pronajem/byt/1+...,8484.763950
3355252044,"Pod Kavalírkou, Praha 5 - Košíře",55.0,2024-03-20 12:18:36.783776,1.0,1.0,2024-03-20 12:18:36.783776,dovolujeme si vám nabídnout k dlouhodobému pro...,2+1,0.0,2.0,...,1.0,Osobní,0.0,17990.0,Dobrý,0.0,cihlova,2024-03-20 12:18:36.783776,https://www.sreality.cz/detail/pronajem/byt/2+...,4078.580807
3875345740,"Na Příkopě, Praha 1 - Nové Město",70.0,2024-03-20 12:18:36.783776,0.0,0.0,2024-03-20 12:18:36.783776,"k pronájmu nabízíme světlý, zařízený byt 2+kk ...",2+kk,0.0,2.0,...,0.0,Osobní,0.0,32000.0,Velmi dobrý,0.0,ostatni,2024-03-20 12:18:36.783776,https://www.sreality.cz/detail/pronajem/byt/2+...,3231.902166
1660753228,"Rybná, Praha 1 - Staré Město",70.0,2024-06-01 00:00:00.000000,1.0,1.0,2024-03-20 12:18:36.783776,máme pro vás k dispozici pěkný částečně zaříze...,2+1,1.0,3.0,...,1.0,Osobní,0.0,20990.0,Velmi dobrý,0.0,cihlova,2024-03-20 12:18:36.783776,https://www.sreality.cz/detail/pronajem/byt/2+...,2990.164543

In [59]:
# mapping = {
#     "1+1": 1,
#     "1+kk": 2,
#     "2+1": 3,
#     "2+kk": 4,
#     "3+1": 5,
#     "3+kk": 6,
#     "4+1": 7,
#     "4+kk": 8,
#     "5+kk": 9,
#     "5+1": 10,
#     "6-a-více": 11,
#     "other": 12,
# }
# df.disposition = df.disposition.map(mapping)


# status_mapping = {
#     "Projekt": 1,
#     "Ve výstavbě": 2,
#     "Novostavba": 3,
#     "Velmi dobrý": 4,
#     "Dobrý": 5,
#     "V rekonstrukci": 6,
#     "Po rekonstrukci": 7,
#     "Před rekonstrukcí": 8,
# }
# df.status = df.status.map(status_mapping)

# type_mapping = {
#     "cihlova": 1,
#     "panelova": 2,
#     "ostatni": 3,
# }
# df.type = df.type.map(type_mapping)

# Normalize columns

In [60]:
for col in ordinal + ratio:
    print(col)
    max_val = df[col].max()
    min_val = df[col].min()
    denominator = max_val - min_val
    if denominator == 0:
        denominator = 1e-10  # Add a small epsilon value to avoid division by zero
    df[col] = (df[col] - min_val) / denominator

    print(df[col].value_counts(bins=10, sort=False))

floor
(-0.002, 0.1]    5189
(0.1, 0.2]         34
(0.2, 0.3]          0
(0.3, 0.4]          0
(0.4, 0.5]          0
(0.5, 0.6]          0
(0.6, 0.7]          0
(0.7, 0.8]          0
(0.8, 0.9]          0
(0.9, 1.0]          1
Name: count, dtype: int64
furnished
(-0.002, 0.1]     559
(0.1, 0.2]          0
(0.2, 0.3]          0
(0.3, 0.4]       2392
(0.4, 0.5]          0
(0.5, 0.6]          0
(0.6, 0.7]        990
(0.7, 0.8]          0
(0.8, 0.9]          0
(0.9, 1.0]       1282
Name: count, dtype: int64
balcony
(-0.002, 0.1]    2973
(0.1, 0.2]          0
(0.2, 0.3]          0
(0.3, 0.4]          0
(0.4, 0.5]          0
(0.5, 0.6]          0
(0.6, 0.7]          0
(0.7, 0.8]          0
(0.8, 0.9]          0
(0.9, 1.0]       1498
Name: count, dtype: int64
cellar
(-0.002, 0.1]    2975
(0.1, 0.2]          0
(0.2, 0.3]          0
(0.3, 0.4]          0
(0.4, 0.5]          0
(0.5, 0.6]          0
(0.6, 0.7]          0
(0.7, 0.8]          0
(0.8, 0.9]          0
(0.9, 1.0]       1567
Name: count, dtype: int64
elevator
(-0.002, 0.1]    1340
(0.1, 0.2]          0
(0.2, 0.3]          0
(0.3, 0.4]          0
(0.4, 0.5]          0
(0.5, 0.6]          0
(0.6, 0.7]          0
(0.7, 0.8]          0
(0.8, 0.9]          0
(0.9, 1.0]       3467
Name: count, dtype: int64
garage
(-0.002, 0.1]    3280
(0.1, 0.2]          0
(0.2, 0.3]          0
(0.3, 0.4]          0
(0.4, 0.5]          0
(0.5, 0.6]          0
(0.6, 0.7]          0
(0.7, 0.8]          0
(0.8, 0.9]          0
(0.9, 1.0]       1074
Name: count, dtype: int64
loggie
(-0.002, 0.1]    3842
(0.1, 0.2]          0
(0.2, 0.3]          0
(0.3, 0.4]          0
(0.4, 0.5]          0
(0.5, 0.6]          0
(0.6, 0.7]          0
(0.7, 0.8]          0
(0.8, 0.9]          0
(0.9, 1.0]        461
Name: count, dtype: int64
parking
(-0.002, 0.1]    3313
(0.1, 0.2]          0
(0.2, 0.3]          0
(0.3, 0.4]          0
(0.4, 0.5]          0
(0.5, 0.6]          0
(0.6, 0.7]          0
(0.7, 0.8]          0
(0.8, 0.9]          0
(0.9, 1.0]       1158
Name: count, dtype: int64
terrace
(-0.002, 0.1]    3436
(0.1, 0.2]          0
(0.2, 0.3]          0
(0.3, 0.4]          0
(0.4, 0.5]          0
(0.5, 0.6]          0
(0.6, 0.7]          0
(0.7, 0.8]          0
(0.8, 0.9]          0
(0.9, 1.0]        886
Name: count, dtype: int64
area
(-0.002, 0.1]    2000
(0.1, 0.2]       2087
(0.2, 0.3]        712
(0.3, 0.4]        249
(0.4, 0.5]        104
(0.5, 0.6]         56
(0.6, 0.7]         32
(0.7, 0.8]          1
(0.8, 0.9]          1
(0.9, 1.0]          2
Name: count, dtype: int64
rent
(-0.002, 0.1]    3567
(0.1, 0.2]       1134
(0.2, 0.3]        348
(0.3, 0.4]        107
(0.4, 0.5]         50
(0.5, 0.6]         14
(0.6, 0.7]          0
(0.7, 0.8]          1
(0.8, 0.9]          1
(0.9, 1.0]          2
Name: count, dtype: int64
poi_distance
(-0.002, 0.1]     316
(0.1, 0.2]       1693
(0.2, 0.3]       1608
(0.3, 0.4]        763
(0.4, 0.5]        464
(0.5, 0.6]        242
(0.6, 0.7]         75
(0.7, 0.8]         56
(0.8, 0.9]         13
(0.9, 1.0]         15
Name: count, dtype: int64
garden
(-0.002, 0.1]    144
(0.1, 0.2]        10
(0.2, 0.3]         4
(0.3, 0.4]         2
(0.4, 0.5]         3
(0.5, 0.6]         0
(0.6, 0.7]         0
(0.7, 0.8]         0
(0.8, 0.9]         0
(0.9, 1.0]         2
Name: count, dtype: int64

In [61]:
df.to_excel("normalized_listings.xlsx", na_rep="NaN")

# Calculate score

In [62]:
# sum values of all ordinal and ratio columns
df["sum"] = df[ordinal + ratio].sum(axis=1)
# normalize the sum
df["sum"] = (df["sum"] - df["sum"].min()) / (df["sum"].max() - df["sum"].min())

In [63]:
print(ordinal + ratio)
# sort df by sum
pd.set_option("display.max_columns", None)
df.sort_values(by="poi_distance", ascending=False)

['floor', 'furnished', 'balcony', 'cellar', 'elevator', 'garage', 'loggie', 'parking', 'terrace', 'area', 'rent', 'poi_distance', 'garden']

,address,area,available_from,balcony,cellar,created,description,disposition,elevator,floor,furnished,garage,garden,gps_lat,gps_lon,last_seen,loggie,ownership,parking,rent,status,terrace,type,updated,url,poi_distance,sum
id,,,,,,,,,,,,,,,,,,,,,,,,,,,
1207248204,"Únorová, Praha 10 - Nedvězí u Říčan",0.201405,2024-03-22 00:00:00.000000,0.0,0.0,2024-03-20 09:40:25.001979,k dlouhodobému podnájmu nabízíme krásný byt po...,3+1,0.0,0.021739,0.666667,0.0,NaN,50.016275,14.659007,2024-03-20 12:18:36.783776,0.0,Osobní,0.0,0.097744,Po rekonstrukci,0.0,cihlova,2024-03-20 09:40:25.001979,https://www.sreality.cz/detail/pronajem/byt/3+...,1.000000,0.227138
3065783628,"Únorová, Praha 10 - Nedvězí u Říčan",0.016393,2024-03-20 09:40:25.001979,0.0,0.0,2024-03-20 09:40:25.001979,nabízíme vám k pronájmu byt 1+kk po kompletní ...,1+kk,0.0,0.021739,1.000000,0.0,NaN,50.017538,14.655101,2024-03-20 12:18:36.783776,0.0,Osobní,0.0,0.022519,Po rekonstrukci,0.0,cihlova,2024-03-20 09:40:25.001979,https://www.sreality.cz/detail/pronajem/byt/1+...,0.985381,0.234560
493384,"Holekova, Praha - Klánovice",0.067916,2024-04-01 00:00:00.000000,1.0,NaN,2024-03-20 09:40:25.001979,"pronajmu na dva měsíce světlý, velký, plně vyb...",1+kk,NaN,0.021739,1.000000,NaN,0.004,50.100822,14.687103,2024-03-20 12:18:36.783776,NaN,Osobní,1.0,0.045113,Novostavba,1.0,cihlova,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...,0.984344,0.625136
2656908620,"Žíšovská, Praha 9 - Újezd nad Lesy",0.142857,2024-05-17 00:00:00.000000,1.0,1.0,2024-03-20 09:40:25.001979,vzhledem k velmi vysokému zájmu o námi nabízen...,3+kk,1.0,0.057971,1.000000,0.0,NaN,50.071144,14.678484,2024-03-20 12:18:36.783776,0.0,Osobní,0.0,0.056353,Po rekonstrukci,0.0,panelova,2024-03-20 09:40:25.001979,https://www.sreality.cz/detail/pronajem/byt/3+...,0.970671,0.638431
711364,"Žíšovská, Praha - Újezd nad Lesy",0.142857,2024-05-17 00:00:00.000000,1.0,1.0,2024-03-20 09:40:25.001979,vzhledem k velmi vysokému zájmu o námi nabízen...,3+kk,1.0,0.057971,1.000000,NaN,NaN,50.071144,14.678484,2024-03-20 12:18:36.783776,NaN,Osobní,NaN,0.056353,Po rekonstrukci,NaN,panelova,2024-03-20 09:40:25.001979,https://www.bezrealitky.cz/nemovitosti-byty-do...,0.970671,0.638431
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3054114124,"Studentská, Praha 6 - Dejvice",0.035129,2024-03-20 09:40:25.001979,0.0,0.0,2024-03-20 09:40:25.001979,nabízíme vám k pronájmu byt po celkové rekonst...,1+kk,1.0,0.043478,0.666667,0.0,NaN,50.102846,14.390194,2024-03-20 12:18:36.783776,0.0,Osobní,0.0,0.056391,Po rekonstrukci,0.0,cihlova,2024-03-20 09:40:25.001979,https://www.sreality.cz/detail/pronajem/byt/1+...,0.000000,0.203543
1532826956,"Studentská, Praha 6 - Dejvice",0.035129,2024-03-20 09:40:25.001979,0.0,0.0,2024-03-20 09:40:25.001979,nabízíme k pronájmu kompletně zrekonstruovaný ...,1+kk,1.0,0.043478,0.000000,0.0,NaN,50.102846,14.390194,2024-03-20 12:18:36.783776,0.0,Osobní,0.0,0.056391,Po rekonstrukci,0.0,cihlova,2024-03-20 09:40:25.001979,https://www.sreality.cz/detail/pronajem/byt/1+...,0.000000,0.118922
1602819404,"Studentská, Praha 6 - Dejvice",0.037471,2024-03-20 09:40:25.001979,0.0,1.0,2024-03-20 09:40:25.001979,"krásný, kompletně nově zrekonstruovaný, nezaří...",1+kk,1.0,0.036232,0.666667,0.0,NaN,50.102846,14.390194,2024-03-20 12:18:36.783776,0.0,Osobní,0.0,0.056391,Po rekonstrukci,0.0,cihlova,2024-03-20 09:40:25.001979,https://www.sreality.cz/detail/pronajem/byt/1+...,0.000000,0.329851
2287801676,"Studentská, Praha 6 - Dejvice",0.037471,2024-03-20 09:40:25.001979,0.0,0.0,2024-03-20 09:40:25.001979,id zakázky: l1275\r\n\r\nnabízíme k pronájmu k...,1+kk,1.0,0.036232,0.000000,0.0,NaN,50.102846,14.390194,2024-03-20 12:18:36.783776,0.0,Osobní,0.0,0.056391,Novostavba,0.0,cihlova,2024-03-20 09:40:25.001979,https://www.sreality.cz/detail/pronajem/byt/1+...,0.000000,0.118300
4217181516,"Studentská, Praha 6 - Dejvice",0.037471,2024-03-20 09:40:25.001979,0.0,0.0,2024-03-20 09:40:25.001979,nabízíme k pronájmu kompletně zrekonstruovaný ...,1+kk,1.0,0.043478,0.666667,0.0,NaN,50.102846,14.390194,2024-03-20 12:18:36.783776,0.0,Osobní,0.0,0.056391,Po rekonstrukci,0.0,cihlova,2024-03-20 09:40:25.001979,https://www.sreality.cz/detail/pronajem/byt/1+...,0.000000,0.203840